hyprbroken
waybar/modules/mail.py
QtProject.conf
cachyos-hello.json
cachyos-hello.json
cachyos-hello.json
kconf_updaterc
kconf_updaterc
okular-generator-popplerrc
okularpartrc
okularrc
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
mimeapps.list
kdeglobals
.dmenurc
.dmenurc
lazygit/config.yml
lazygit/state.yml
btop/btop.log
btop/btop.log
KeePass/KeePass.config.xml
KeePass
.mono/*
.mono
google-chrome/*
google-chrome
autostart/org.keepassxc.KeePassXC.desktop
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
